.App {
  text-align: center;
}

.navbar {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  padding: 10px;
}